<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block page_title %}{% endblock%}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="http://localhost:8000/">HOME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                FUNCIONÁRIOS
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form action="http://localhost:8000/gerencias/lista_funcionarios/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">LISTA</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="http://localhost:8000/gerencias/novo_funcionario/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">NOVO</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="http://localhost:8000/gerencias/lista_funcionarios_desativados/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">DESATIVADOS</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                RESPONSÁVEL
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form action="http://localhost:8000/gerencias/novo_responsavel/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">CADASTRAR</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="http://localhost:8000/gerencias/lista_responsavel/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">LISTAR VALIDADOS</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="http://localhost:8000/gerencias/lista_responsavel_nval/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">LISTAR NÃO VALIDADOS</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="http://localhost:8000/gerencias/lista_responsavel_des/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">LISTAR DESATIVADOS</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>                        
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                CRIANÇAS
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form action="http://localhost:8000/gerencias/lista_filhos_total/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">LISTAR TOTAL</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="{% url 'buscar_filhos' %}" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">
                                            <i class="fas fa-search"></i> BUSCAR
                                        </button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>                      
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                MADRINHAS
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form action="http://localhost:8000/gerencias/lista_madrinha_padrinho/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">LISTAR ATIVOS</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="http://localhost:8000/gerencias/novo_madrinha_padrinho/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">NOVO(A)</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="http://localhost:8000/gerencias/lista_madrinha_padrinho_desativados/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">LISTAR DESATIVADOS</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="http://localhost:8000/gerencias/lista_apadrinhamento/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">APADRINHAMENTOS</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                EVENTOS
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form action="http://localhost:8000/gerencias/listar_eventos/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">LISTAR</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="http://localhost:8000/gerencias/novo_evento/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">NOVO</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ENTREGAS
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form action="http://localhost:8000/gerencias/listar_entregas/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">LISTAR</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="http://localhost:8000/gerencias/nova_entrega/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">NOVA</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                OFÍCIOS
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form action="http://localhost:8000/gerencias/novo_oficio/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">NOVO OFICIO</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="http://localhost:8000/gerencias/lista_oficio/" method="POST" style="display: inline; width: 100%;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background: none; border: none; width: 100%; text-align: left;">LISTA OFÍCIOS</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>                        
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary sm">
                                        Sair
                                    </button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <form action="{% url 'signup' %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="nav-link active" style="background: none; border: none; color: inherit;">Cadastrar</button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <form action="{% url 'login' %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="nav-link active" style="background: none; border: none; color: inherit;">Entrar</button>
                                </form>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main class="container">
        {% block container %}{% endblock%}
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>