{% extends 'bases.html'%}
    
{% block page_title %}
    LISTA MADRINHAS E PADRINHOS
{% endblock %}
{% block container %}
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>CPF</th>
                <th>Nome</th>
                <th>Cidade/UF</th>
                <th>Ativo</th>
                <th>Data Cadastro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ registro.id_mad_pad }}</td>
                <td>{{ registro.cpf|default:"—" }}</td>
                <td>{{ registro.pnome }} {{ registro.snome }}</td>
                <td>{{ registro.cidade|default:"—" }}/{{ registro.estado|default:"—" }}</td>
                <td>{{ registro.flag_ativo }}</td>
                <td>{{ registro.data_cadastro|date:"d/m/Y H:i"|default:"—" }}</td> 
            </tr>
        </tbody>
    </table>
    <br><br><br><br>
    <h2>LISTA DE CRIANÇAS</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ID RESP</th>
                <th scope="col">NOME</th>
                <th scope="col">DT NASC</th>
                <th scope="col">SEXO</th>
                <th scope="col">ROUPA</th>
                <th scope="col">SAPATO</th>
                <th scope="col">OUT. ONG</th>
                <th scope="col">VINCULAR</th> 
            </tr>
        </thead>
        
        <tbody>
            {% for filho in criancas %}
            <tr>
                <td>{{ filho.id_filho }}</td>
                <td>{{ id_responsavel }}</td>
                <td>{{ filho.pnome }} {{ filho.snome }}</td>
                <td>{{ filho.data_nascimento }}</td>
                <td>{{ filho.sexo }}</td>
                <td>{{ filho.numero_roupa }}</td>
                <td>{{ filho.numero_sapato }}</td>
                <td>{{ filho.cadastro_outra_ong }}</td>
                <td>
                    <a href="{% url 'vincular_mad_pad_crianca' %}?id_mad_pad={{ registro.id_mad_pad }}&id_filho={{ filho.id_filho }}" class="btn btn-success btn-sm" method="POST">
                        APADRINHAR
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="11">Nenhum registro encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}