{% extends 'bases.html'%}
    
{% block page_title %}
    NOVO OFÍCIO
{% endblock %}
{% block container %}
    <br><br>
    <div>
        <h3>CRIAR OFICÍO</h3>
        <form action="{% url 'insere_novo_oficio' %}" method="POST" >
            {% csrf_token %}
            <input type="hidden" placeholder="{{ id_usuario }}" name="responsavel" value="{{ id_usuario_cad }}">
            <br>
            <input type="text" placeholder="REMENTENTE" name="remetente">
            <br><br>
            <input type="text" placeholder="DESTINATÁRIO" name="destinatario">
            <br><br>
            <div class="mb-3">
                    <label for="exemploTextarea" class="form-label">MENSAGEM</label>
                    <textarea class="form-control" rows="5" placeholder="Digite a mensagem" name='mensagem'></textarea>
                </div>
            <br><br>
            
            <input type="submit" value="Enviar" class="btn btn-primary sm" method="POST" onclick="confirmarAtualizacao()">         
        </form>
    </div>
    <script>
        function confirmarAtualizacao() {
            if (confirm('Tem certeza que deseja continuar?')) {
                window.location.href = "{% url 'insere_novo_oficio' %}";
            }
        }
    </script>
{% endblock %}